.hd{
    font-size: 36px;
    font-weight: 600;
}
.hv{
    font-size: 23px!important;
    margin: 0px 0px 0px 21px;
}
p{
    font-size: 15px;
    font-weight: 600;
    margin-left: 33px;
    margin-top: 2px;
}