

 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 
   <div id="wrapper" class="animate">
     <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
       <a href="javascript:void(0);" class="navbar-toggler-icon leftmenutrigger" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
       

       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
         aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarText">
         <ul style="margin-right: 45px!important;">
           <li>
            <a *ngIf="userimg!=''"><img class="userimg" src="{{userimg}}" ></a>
            <a *ngIf="userName!=''"  style="color:#eaeaea;"class="username">{{userName}}</a>
           </li>
         </ul>
         <ul class="navbar-nav  d-md-flex">
           <li class="nav-item"  style="font-size: 23px;"  >
             <a class="nav-link"  style="color: #eaeaea;" routerLink='headline'>Top Headline
               <span class="sr-only">(current)</span>
             </a>
           </li>
           <li class="nav-item"  style="font-size: 23px;">
             <a class="nav-link"  style="color: #eaeaea;"  routerLink='explore'>Explore</a>
           </li>
           <li class="nav-item"  style="font-size: 23px;">
             <a class="nav-link"  style="color: #eaeaea;"  routerLink='follow'>Followed Topics</a>
           </li>
           
         </ul>
         <ul class="navbar-nav  " style="margin-left: auto;">
          <li  class="nav-item "   style="margin-top: 3px;">
            <form>
              <button type="submit" class="btn btn-link btn-logout" style="font-size: 23px;color: #eaeaea;"  (click)='logout()'>Logout</button>
            </form>
          </li>
         </ul>
       </div>
     </nav>
    
   </div>


<router-outlet></router-outlet>
<!-- Aour API key is: c791e422aa4140029eb0a9717782fdea -->